.btn {
  padding-left: 1rem; /* px-4 */
  padding-right: 1rem; /* px-4 */
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  border-radius: 0.5rem; /* rounded-lg */
  transition: all 0.2s; /* transition */
  margin-right: 2rem;
}

.btn:hover {
  background-color: black; /* bg-blue-500 */
  color: #fff; /* text-white */
  transform: scale(1.05); /* scale-105 */
}

.navbar {
  display: flex; /* flex */
  gap: 1rem; /* gap-4 */
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  flex-direction: row;
  justify-content: space-between;
}
